# Ujian Modul 2 - Purwadhika Data Science JC Program

## Context - Taken from Kaggle
Did you know that claims can be filed against TSA? Sometimes US Terminal Security Agency (TSA) makes mistakes. People can get hurt and property can be damaged, lost, or stolen. Claims are generally filed against TSA for personal injuries and lost or damaged property during screenings and they keep records of every claim!

### Content
The dataset includes claims filed between 2002 through 2015.

1. Claim Number
1. Date Received
1. Incident Date
1. Airport Code
1. Airport Name
1. Airline Name
1. Claim Type
1. Claim Site
1. Item
1. Claim Amount
1. Status
1. Close Amount
1. Disposition

This data is coming from the Kaggle Dataset that contain the data of clain the been filed into the TSA. We would try to explore the data and clean the data partially (we would not clean and analyze everything as it would take more time than necessary) and we would only use 25% data from the original dataset.

This exam scoring would be explained below:

- This Notebook would have total score of 70 (+ 10 Bonus POINT for Bonus Question), which consist of:
    - 40 POINT for the Question part (10 point for each question)
    - 30 POINT for the preprocessing part by following the guide
- The Dashboard would yield 20 POINT
- The Maximum Score would be still 100, Bonus Question is just a Bonus. Work it if you have an extra time and already sure about all your other answer (or not sure about the other question, and need this bonus question to help)

When you finish, upload your notebook contain all the answers and the script for the dashboard to your github. You do not need to upload the .csv file.

Try to read the data and show all the important info first. For starter, try to understand what each column represent.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
%matplotlib inline

In [2]:
dfUjian = pd.read_csv('tsa_claims_ujian.csv')

In [3]:
dfUjian.head()

,Claim Number,Date Received,Incident Date,Airport Code,Airport Name,Airline Name,Claim Type,Claim Site,Item,Claim Amount,Status,Close Amount,Disposition
0,0909816M,7-Feb-02,1/6/2003 0:00,MIA,Miami International Airport,American Airlines,Property Damage,Checkpoint,Luggage (all types including footlockers),$50.00,Approved,$50.00,Approve in Full
1,14268,20-Jun-02,6/16/2002 0:00,PHX,Phoenix Sky Harbor International,NaN,Property Damage,Checkpoint,Computer - Laptop,$2;270.09,Canceled,NaN,NaN
2,15242,12-Jul-02,5/31/2002 0:00,BWI,Baltimore/Washington Intl Thurgood Marshall,American Airlines,NaN,Other,Luggage (all types including footlockers),$200.00,Denied,$0.00,Deny
3,16759,21-Aug-02,7/12/2002 0:00,BWI,Baltimore/Washington Intl Thurgood Marshall,Southwest Airlines,Passenger Property Loss,Checkpoint,Other,$21.44,Approved,$21.00,Approve in Full
4,17846,9-Sep-02,8/30/2002 0:00,BOS,Boston (Logan) International Airport,NaN,Property Damage,Checkpoint,Luggage (all types including footlockers),$1;832.22,Canceled,$0.00,NaN

In [4]:
dfUjian.loc[[51061,51062,51063,51064,51065]]

,Claim Number,Date Received,Incident Date,Airport Code,Airport Name,Airline Name,Claim Type,Claim Site,Item,Claim Amount,Status,Close Amount,Disposition
51061,2015110926685,22-Oct-15,19-Oct-15,-,-,-,Property Damage,Checked Baggage,Baggage/Cases/Purses,-,-,NaN,NaN
51062,2015110226479,2-Nov-15,2-Nov-15,-,-,-,Passenger Property Loss,Checkpoint,Books; Magazines & Other,-,-,NaN,NaN
51063,2015120727336,16-Nov-15,14-Sep-15,-,-,American Airlines,Passenger Property Loss,Checked Baggage,Cosmetics & Grooming,-,-,NaN,NaN
51064,2015120427297,20-Nov-15,16-Oct-15,-,-,-,Property Damage,Checked Baggage,Baggage/Cases/Purses; Books; Magazines & Other...,-,-,NaN,NaN
51065,2016010428072,22-Dec-15,20-Dec-15,-,-,-,Passenger Property Loss,Checked Baggage,Clothing,-,-,NaN,NaN

In [5]:
dfUjian.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51066 entries, 0 to 51065
Data columns (total 13 columns):
Claim Number     51066 non-null object
Date Received    50996 non-null object
Incident Date    50496 non-null object
Airport Code     49014 non-null object
Airport Name     49014 non-null object
Airline Name     42511 non-null object
Claim Type       49106 non-null object
Claim Site       50876 non-null object
Item             50054 non-null object
Claim Amount     50074 non-null object
Status           51065 non-null object
Close Amount     33786 non-null object
Disposition      32846 non-null object
dtypes: object(13)
memory usage: 5.1+ MB

In [6]:
data2 = pd.DataFrame(dfUjian.columns, columns =['dataFeatures'])
data2['dataType'] = data2['dataFeatures'].apply(lambda x :(dfUjian[x].dtype))
data2['null'] = data2['dataFeatures'].apply(lambda x : (dfUjian[x].isna().sum()))
data2['nullPct'] = data2['dataFeatures'].apply(lambda x: round((dfUjian[x].isna().sum())/len(dfUjian)*100,2))
data2['unique'] = data2['dataFeatures'].apply(lambda x : len(dfUjian[x].unique()))  
data2['uniqueSample'] = data2['dataFeatures'].apply(lambda x : list(dfUjian[x].drop_duplicates().sample(2).values))                             
data2

,dataFeatures,dataType,null,nullPct,unique,uniqueSample
0,Claim Number,object,0,0.00,51065,"[2005010372168, 2005021776393]"
1,Date Received,object,70,0.14,3523,"[9-Feb-12, 20-Sep-04]"
2,Incident Date,object,570,1.12,10789,"[12/19/2010 15:45, 11/24/2009 10:00]"
3,Airport Code,object,2052,4.02,406,"[BIL, FOD]"
4,Airport Name,object,2052,4.02,420,"[Austin Straubel International, Dallas-Fort Wo..."
5,Airline Name,object,8555,16.75,244,"[Malaysian Airline System, Japan Airlines]"
6,Claim Type,object,1960,3.84,9,"[Passenger Theft, Motor Vehicle]"
7,Claim Site,object,190,0.37,7,"[Bus Station, nan]"
8,Item,object,1012,1.98,1855,"[Briefcases; Locks; Locks, Eyeglasses - (inclu..."
9,Claim Amount,object,992,1.94,13249,"[$267.30 , $98.93 ]"
10,Status,object,1,0.00,14,"[Approved, Denied]"
11,Close Amount,object,17280,33.84,6010,"[$128.65 , $71.00 ]"
12,Disposition,object,18220,35.68,4,"[Approve in Full, Settle]"

In [7]:
data2.replace(to_replace ="-", 
                 value = np.nan)
data2

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\missing.py:44: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask = arr == x

,dataFeatures,dataType,null,nullPct,unique,uniqueSample
0,Claim Number,object,0,0.00,51065,"[2005010372168, 2005021776393]"
1,Date Received,object,70,0.14,3523,"[9-Feb-12, 20-Sep-04]"
2,Incident Date,object,570,1.12,10789,"[12/19/2010 15:45, 11/24/2009 10:00]"
3,Airport Code,object,2052,4.02,406,"[BIL, FOD]"
4,Airport Name,object,2052,4.02,420,"[Austin Straubel International, Dallas-Fort Wo..."
5,Airline Name,object,8555,16.75,244,"[Malaysian Airline System, Japan Airlines]"
6,Claim Type,object,1960,3.84,9,"[Passenger Theft, Motor Vehicle]"
7,Claim Site,object,190,0.37,7,"[Bus Station, nan]"
8,Item,object,1012,1.98,1855,"[Briefcases; Locks; Locks, Eyeglasses - (inclu..."
9,Claim Amount,object,992,1.94,13249,"[$267.30 , $98.93 ]"
10,Status,object,1,0.00,14,"[Approved, Denied]"
11,Close Amount,object,17280,33.84,6010,"[$128.65 , $71.00 ]"
12,Disposition,object,18220,35.68,4,"[Approve in Full, Settle]"

In [77]:
dfUjian['Date Received'] = pd.to_datetime(dfUjian['Date Received'])
# dfUjian['Incident Date'] = pd.to_datetime(dfUjian['Incident Date'])
import re

dfUjian[['Incident Date']] = dfUjian[['Incident Date']].apply(lambda x: x.astype('str'))


# dfUjian[dfUjian['Incident Date'].str.contains(dfUjian['Incident Date'].apply(lambda x : (re.findall(r'\-([a-zA-Z_]+)\-',x))))[0]]
# x = dfUjian[dfUjian['Incident Date']
# dfUjian[(re.findall(r'\-([a-zA-Z_]+)\-',x)[0]) in dfUjian['Incident Date']]

# bulan = 
# for i in dfUjian['Incident Date']:
#     if (re.findall(r'\-([a-zA-Z_]+)\-',i) != ''): 
#         bulan.append((re.findall(r'\-([a-zA-Z_]+)\-',i)))
#     print(bulan)
    
                     
# dfUjian['Incident Date'].apply(check_error, axis = 1)
# bulan = ''
# for i in range(len(dfUjian['Incident Date'])):
# #     error = dfUjian['Incident Date'].apply(lambda x : re.findall(r'\-([a-zA-Z_]+)\-',x))
#     x = dfUjian['Incident Date'][i]
#     error = re.findall(r'\-([a-zA-Z_]+)\-',x)
#     bulan.append(error)
#     print(bulan)
    
#     dfUjian[dfUjian['Incident Date'].isin(error)]
    
# list(error)
# dfUjian[dfUjian['Incident Date'].isin(error)]

# x = dfUjian['Incident Date'].iloc[13729]
# match = re.findall(r'\-([a-zA-Z_]+)\-',x)
# match[0]
# dfUjian[dfUjian['Incident Date'].str.contains(match[0])]

month = ['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']
for i in month:
    dfUjian[dfUjian['Incident Date'].apply(lambda x : i is in x)]
    
# check = dfUjian['Incident Date'].apply(lambda x : re.findall(r'\-([a-zA-Z_]+)\-',x))
# check

# check_ok = check.apply(lambda x : x[0])

SyntaxError: invalid syntax (<ipython-input-77-5b2c71cb6e39>, line 40)

If you notice, there is '-' value that become a filler for an empty value. Replace all these '-' in every column into NaN object

Try to convert the Date Received and Incident Date data type into Datetime object. For the Incident Date columns, if you directly try to convert the column into datetime object it would raise an error notice. In that case, try to show the dataframe with the Incident Date column contain all the error.

For the data in the Incident Date column that contain error, replace the year with the year that come from the Date Received column and replace the Incident Date data type into datetime object

Check the data info and the dataframe that previously contain the error in their data to see if the data have been properly corrected.

Create a new feature of the day differences between claim received and the day of the incident called Day Differences, which contain the days that come from the Date Received column substracted by the Incident Date column (Date Received - Incident Date). We have this feature to see the time differences between when the claim made with the incident that happen.

Lets try to visualize the distribution of the Day Differences with all the NaN just to be dropped first

If we seen it from the plot, it seems there is days that less than 0 and even over than 1000. Lets try to visualize them both

## Question

Why do you think there is day that way more than thousand days differences, and why some day differences are less than 0? (claim was made before the incident is like someone predicting a future after all).

Remove the $ sign (some data need even more clean up by replacing the ; sign into . sign) from the Claim Amount columns and Close Amount columns, and change those columns datatype into float datatype

Create a new columns called Amount Differences by substract the Claim Amount with Close Amount columns

Lets try to visualize it again similar to the Day Differences feature, but this time we would use the Amount Differences feature (still just drop the NaN first)

There is seems a differences in number that was way far. This time, lets use the Interquartile range (IQR) method to find the datapoint that seems to be an outlier based on the Amount Differences column, show the dataframe, and lets describe the Claim Amount and Close Amount column of the outlier dataframe based on the Amount Differences column

It seems that Claim Amount feature really affecting lot of the differences that happen as 75% outlier data that in the Close Amount feature is still 0.

## Question

I assume that many of this big differences happen because these people tend to request for bigger money than what it should be. Do you agree or disagree with my assumption? why? Try to explain it with the data

## Analysis

We have try to cleaning some of the data that we have, and now we could try to done few analysis from the data we had. Try to answer this following question.

### Question

1. Is there Any relationship between the Airport and/or the Airline with the number of the claim that happen and the Claim Type? Also why is there a NaN in the Claim Type column?

1. If you realize, there is many different classes in the Status and Disposition column. What pattern you could find in these 2 columns because of this classes variation? is there any relation with the other columns?

## Bonus Question

Could you find any interesting Insight from our data that you could explain? Try to explain it with the available data

To create our dashboard, lets use only the data that was not outlier according to the Amount Differences. As we did not process all the NaN, just drop all those NaN. Save the file as 'tsa_claims_dashboard_ujian.csv', don't include the Index. As we don't want to have too much data in our dashboard, let's just sample 1000 data from our current data.

Also, set the random seed to 101.

In [9]:
np.random.seed(101)

Export the data to your SQL database, and try to connect the database to the dashboard